* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f7f7f7;
    color: #000000;
    scroll-behavior: smooth;
}

/* ANIMAÇÕES */
.fade {
    animation: fadeIn 1.3s ease forwards;
    opacity: 0;
}

.slide-top {
    animation: slideTop 1s ease forwards;
    opacity: 0;
}

.slide-bottom {
    animation: slideBottom 1s ease forwards;
    opacity: 0;
}

.zoom {
    transition: 0.4s ease;
}

.zoom:hover {
    transform: scale(1.05);
}

@keyframes fadeIn {
    to { opacity: 1; }
}

@keyframes slideTop {
    from { transform: translateY(-40px); opacity: 0; }
    to   { transform: translateY(0); opacity: 1; }
}

@keyframes slideBottom {
    from { transform: translateY(40px); opacity: 0; }
    to   { transform: translateY(0); opacity: 1; }
}


/* HEADER */
header {
    background: #047870;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-bottom: 120px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 8%;
    align-items: center;
}

.Titulo {
    color: #F68712;
}

.navbar ul {
    display: flex;
    gap: 25px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.navbar a:hover {
    color: #43DAB4;
}

.hero {
    text-align: center;
    margin-top: 80px;
}

.hero h2 {
    font-size: 45px;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 28px;
    background: #08a59b;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    background: #2fa488;
}

/* SOBRE */
.sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
    gap: 40px;
}

.sobre img {
    width: 20%;
    border-radius: 12px;
}

.sobre h2 {
    color: #F68712;
}

/* HISTÓRIA */
.historia {
    padding: 90px 10%;
    background: #fff;
}

.historia h2 {
    text-align: center;
    color: #F68712;
    margin-bottom: 30px;
}

.timeline {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 30px;
}

.card {
    background: #fefefe;
    padding: 20px;
    border-radius: 12px;
    flex: 1;
    text-align: center;
    border: 2px solid #047870;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 12px;
}

.card h3 {
    color: #FF8A00;
}

/* FOOTER */
footer {
    background: #047870;
    padding: 18px 0;
    text-align: center;
    color: #fff;
    font-weight: 500;
    margin-top: 40px;
}




/* RESPONSIVIDADE */
@media (max-width: 900px) {

    .navbar ul {
        gap: 12px;
    }

    .hero h2 {
        font-size: 36px;
    }

    .sobre {
        flex-direction: column;
    }

    .sobre img {
        width: 100%;
    }

    .timeline {
        flex-direction: column;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {

    .navbar {
        flex-direction: column;
        text-align: center;
        gap: 12px;
    }

    .hero h2 {
        font-size: 30px;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}
